@model Afrodite.DTOs.CreateProductDto

<style>
    .container .form-group {
    margin-bottom: 20px; 
    padding: 10px;
}

.container .row {
    margin-bottom: 20px; 
}

.container {
    padding: 20px; 
}

</style>
<div class="container">
    <h2 class="mb-4">Quản lý sản phẩm</h2>

    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            @TempData["SuccessMessage"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

    <form asp-action="CreateProduct" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Name">Tên sản phẩm</label>
                    <input asp-for="Name" class="form-control" required />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Price">Giá sản phẩm</label>
                    <input asp-for="Price" class="form-control" required type="number" step="0.01" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="ShortDescription">Mô tả ngắn</label>
            <input asp-for="ShortDescription" class="form-control" required />
            <span asp-validation-for="ShortDescription" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Description">Mô tả chi tiết</label>
            <textarea asp-for="Description" class="form-control" required rows="5"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
            <script>
                CKEDITOR.replace('Description');
            </script>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Stock">Số lượng</label>
                    <input asp-for="Stock" class="form-control" required type="number" />
                    <span asp-validation-for="Stock" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="CategoryId">Danh mục</label>
                    <select asp-for="CategoryId" class="form-control" required>
                        <option value="">Chọn danh mục</option>
                        @foreach (var category in Model.Categories)
                        {
                            <option value="@category.CategoryId">@category.Name</option>
                        }
                    </select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="BrandId">Thương hiệu</label>
                    <select asp-for="BrandId" class="form-control" required>
                        <option value="">Chọn thương hiệu</option>
                        @foreach (var brand in Model.Brand)
                        {
                            <option value="@brand.BrandId">@brand.Name</option>
                        }
                    </select>
                    <span asp-validation-for="BrandId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="ImageUrl">Tải lên hình ảnh</label>
                    <div class="custom-file">
                        <input type="file" asp-for="ImageUrl" class="custom-file-input" id="customFile" />
                        <label class="custom-file-label" for="customFile">Chọn file</label>
                    </div>
                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <button  type="submit" class="btn btn-primary btn-block">Tạo sản phẩm</button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
}
